<div class="row">
    <div class="cms_banner mt_50">
        <div class="col-sm-12 mt_10">
            <div id="subbanner3" class="sub-hover">
                <div class="sub-img"><img src="https://vn.blog.kkday.com/wp-content/uploads/Cover-credit-@bella__story-@mello.may_.jpg" alt="Sub Banner3" class="img-responsive"
                        style="margin:0px auto;max-width:1300px;height: 600px;"></div>
            </div>
        </div>
    </div>
</div>

<section class="htc__category__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Posts</h2>
                    <p>The best look anytime anywhere</p>
                </div>
            </div>
        </div>
        <div class="htc__product__container ">
            <div class="row">
                <div id="content">
                        {{#each posts}}
                    <!-- Start Single Post -->
                    <div class="col-md-5 body_custom">
                            <div class="fr__post__inner">
                                <h4><a href="{{this.id}}">{{this.title}}</a></h4>
                                <ul class="fr__post__content">
                                    <li class="post__content">{{this.content}}</li>
                                </ul>
                            </div>
                    </div>
                    <!-- End Single Post -->
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>